@use '../../styles/_constants' as constants;
@use '../../styles/_mixins' as mixins; 

/* HERO SECTION */
.hero-layout {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: calc(100vh - 300px - 20px - 80px - 36px) 300px;
   gap: 2rem;

   &__header {
      grid-column: 2 / 11 span ;
      grid-row: 1 / 2;
      align-self: center;

      & .heading > span { display: block; }

      & .text {
         margin-top: 2rem;
         width: calc( #{constants.$section-max-width} / 2);
      }

      @media screen and (max-width: constants.$media-screen-mobile) {
         & .text {
            width: 80%;
         }
      }
      
      &-actions {
         margin-top: 3.6rem;
         display: flex;
         justify-content: space-between;
      }
   }

   &__background {
      position: relative;
      grid-column: 1 / 12 span;
      grid-row: 2 / 3 ;

      &-scroll {
         position: absolute;
         top: -36px;
         right: 0;

         @include mixins.flexbox(center, center);

         i.material-symbols-outlined {
            margin-left: 4px;
         }
      }
   }
}

/* PROJECT SECTION */
.project {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   gap: 20px;  

   &__grid {
      grid-column: 12 span;
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
   }
}

/* BLOG SECTION */
.blog {

   &__actions {
      margin-top: 3.6rem;
      @include mixins.flexbox(center, center);
   }
}
