// Color pallete 
$color-orange: #EB5E28; 
$color-black: #222222;
$color-dark-brown: #403D39;
$color-light-brown: #CCC5B9;
$color-snow-white: #F8F8F8;
$color-white: #FFF;

$color-toggle-dark: #7161ef;
$color-toggle-light: #FFE382;

// Screen sizes
$media-screen-mobile: 768px;

// Ohter
$section-max-width: 1312px;


