@use './constants' as constants;

.header {
   margin-bottom: 3.6rem;
   
   &__caption {
      font-size: 1.6rem;
   }

   &__line {
      width: 100%;
   }
}

.section {
   @media screen and (max-width: constants.$section-max-width) {
      padding: 0 1rem;
   }

   &__container {
      display: flex;
      justify-content: center;
   }

   &__container-layout {
      width: 100%;
      max-width: constants.$section-max-width;
   }

   &__section-layout {

   }

   &:not(:last-child) {
      margin-bottom: 6.4rem;
   }
}
