@use './constants';
@use './layout';
@use './typography';
@use './buttons';

/* You can add global styles to this file, and also import other style files */
* {
   box-sizing: inherit; 
   padding: 0;
   margin: 0;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;
   font-family: 'Inter', sans-serif;
}

html, body { 
   min-height: 100%;
}

body {
   font-size: 1.6rem;
   -webkit-transition: all 200ms linear;
   -moz-transition: all 200ms  linear;
   -o-transition: all 200ms  linear;
   transition: all 200ms linear;
}

a {
   text-decoration: none;
}

ul, ol {
   list-style: none;
}

button {
   font-family: 'Inter', sans-serif;
   background-color: transparent;
   border: none;
   cursor: pointer;
   font-size: 1.6rem;
}

a {
   cursor: pointer;
}

p { 
   line-height: 1.5;
}
