:host {
   display: block;
   border-bottom: 1px solid grey;

   &:first-child {
      border-top: 1px solid grey;
   }
}

.blog-post {
   height: 200px;
   display: flex;
   align-items: center;

   &__wrapper {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;
   }
   
   &__time {
      grid-column: 1 / 3;
   }

   &__body {
      grid-column: 3 / 8 span;

      & .heading {
         margin-bottom: 10px;
      }
   }
}
