<section class="section" id="top">
   <div class="section__container">
      <div class="section__container-layout">
         <div class="section__layout hero-layout">
            <header class="hero-layout__header">
               <h1 class="heading heading--large heading--uppercase">
                  <span>Hello,</span>
                  <span>I'm Andrej</span>
               </h1>

               <p class="text text--medium">
                  Ambitious young web developer with passion to create functional, scaleable services for people.
               </p>

               <div class="hero-layout__header-actions">
                  <a routerLink="/about" class="button variant--button button--primary">
                     About me  <i class="button__icon button__icon--rotate material-symbols-outlined">arrow_forward</i>
                  </a>
               </div>
            </header>   

            <div class="hero-layout__background">
               <!-- <app-lava-background></app-lava-background> -->

               <span class="hero-layout__background-scroll text">
                  Scroll
                  <i class="material-symbols-outlined">
                     arrow_downward
                  </i>
               </span>
            </div>
         </div>
      </div>
   </div>
</section>

<!-- Projects section -->
<section class="section">
   <div class="section__container">
      <div class="section__container-layout">
         <div class="section__layout">
            <header class="header">
               <h2 class="caption">List of projects</h2>

               <svg width="100%" height="2" viewBox="0 0 1312 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line class="dashed-divider" x1="0.5" y1="0.5" x2="1311.5" y2="0.499885" stroke-linecap="round" stroke-dasharray="1 15"/>
               </svg>                  
            </header>
         
            <div class="project">
               <div class="project__grid">
                  @for(project of [{id: 1}, {id: 2}, {id: 3}]; track project.id) {
                     <app-project-card [project]="project"></app-project-card>
                  }
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!-- Blog section -->
<section class="section">
   <div class="section__container">
      <div class="section__container-layout">
         <div class="section__layout">
            <header class="header">
               <h2 class="caption">Blog - recent articles</h2>

               <svg width="100%" height="2" viewBox="0 0 1312 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <line class="dashed-divider" x1="0.5" y1="0.5" x2="1311.5" y2="0.499885" stroke="#403D39" stroke-linecap="round" stroke-dasharray="1 15"/>
               </svg>                  
            </header>
            
            <div class="blog">
               @for(article of [{id: 1}, {id: 2}, {id: 3}]; track article.id) {
                  <app-article-item></app-article-item>
               }

               <div class="blog__actions">
                  @if(4 > 3) {
                     <a routerLink="/articles" class="button variant--button button--secondary">
                        See all articles <i class="button__icon button__icon--rotate material-symbols-outlined">arrow_forward</i>
                     </a>
                  }
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
